# Auto-detect text files, ensure they use LF (see .editorconfig).
* text=auto eol=lf
*.php text eol=lf

# Exclude non-essential files from Composer dist archives.
/.editorconfig export-ignore
/.cursorignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.vscode export-ignore
/.cursor export-ignore
/.php-cs-fixer.php export-ignore
/.prettierrc export-ignore
/CONTRIBUTING.md export-ignore
/composer.lock export-ignore
/Makefile export-ignore
/AGENTS.md export-ignore
/codecov.yml export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/phpunit.xml export-ignore
