parameters:
  level: 9
  phpVersion: 80300
  checkFunctionNameCase: true
  checkInternalClassCaseSensitivity: true
  reportMaybesInPropertyPhpDocTypes: true
  checkExplicitMixedMissingReturn: true
  reportMaybesInMethodSignatures: true
  reportStaticMethodSignatures: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkDynamicProperties: true
  reportAlwaysTrueInLastCondition: true
  tmpDir: ./cache
  paths:
    - ./
  excludePaths:
    - ./vendor/*
    - ./cache/*
  ignoreErrors:
    - identifier: property.unusedType
